/* MY CSS creation */
*{
    margin:0px;
}

body{
    background-color:#FEE7B5;
    text-align:center;
}

h1{
    text-align:center;
    background-color: #1B4965;
    color:#BEE9E8;
    padding:1vmin;
    width:100%;
}
.image{
    height:30vmin;
    width:30vmin;
    border-radius:50%;
}

.imgs{
    display:flex;
    justify-content:center;
    text-align:center;
    gap:5vmin;
    align-items: center;
    margin-top:4vmin;
}

h2{
    margin-top:2vmin;
}

.score{
    display:flex;
    justify-content:center;
    gap:5vmin;
    margin-top:10vmin;
}

p{
    font-size:5vmin;
    color:brown;
    text-align:center
}


.final-result{
    background-color: aqua;
    border-radius: 2rem;
    width: max-content;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    margin-top:3vmin;
}

.hover{
    border:8                                        px solid white;
    border-radius:50%;
    height:30vmin;
    width:30vmin;
    border-radius:50%;
}
